<!DOCTYPE html>
<html>
  <head>
    <title>Cat Fact Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cat Fact Lab</h1>
    <p>Anthony Tirado</p>
    <a href="/cats/fact">Get a cat fact</a>
  </body>
</html>
